.expressive-code {
    .frame {
        @apply !shadow-none;
    }

    .title {
        font-family: Consolas,"JetBrains Mono Variable", ui-monospace, SFMono-Regular, Menlo, Monaco,  "Liberation Mono", "Courier New", monospace;
    }
}
